.loadScreenDialog{
    position: fixed;
    display: block;
    z-index: 5;
    background: none;
    border: none;
}

.loadScreen{
    width: 100vw;
    height: 100vh;
}

@keyframes spinnerProcess {
    to{
        transform: rotate(360deg);
    }
}

.loadingSpinner{
    border-radius: 100%;
    border: 3px solid rgb(113, 113, 170);
    height: 40px;
    width: 40px;
    border-style: dotted;
    border-top: none;
    animation: spinnerProcess  infinite 1s ease-in-out;
}