*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --borderColor:rgb(143, 153, 209);
  transition: ease-in-out 0.2s;

}

::-webkit-scrollbar{
  width: 8px;
  background-color: rgb(184, 190, 240);
}

::-webkit-scrollbar-thumb{
  background-color: rgb(118, 126, 195);
  border-radius: 10px;
}

body {
  background-color:rgb(209, 209, 242);
}


